extends layout

block content2
  h1= title
  p This is block content2

block contentHead
  .page-title
    .title-env
      h1.title Home
      | 					
      p.description This home page.
    | 				
    | 					
    .breadcrumb-env
      ol.breadcrumb.bc-1
        li
          a(href="dashboard-1.html")
            i.fa-home
            | Home
        | 								
        li
          a(href="ui-panels.html") home
        | 							
        li.active
          strong home

  p
    | Test multi line:1
    |Test multi line:2
    | Test multi line:3
    Test multi line:4

h1 This text will not display.